.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
  font-weight: bold;
  font-size: large;
}

header nav a {
  margin: 0 1.5em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 2em;
  max-width: 50em;
  min-width: 40em;
  margin-top: 2em;
}
